<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    {% set root_path = '/' %}
    {% for page in site.pages recursive %}
    {% set nav_level = loop.depth0 %}
    {% set link = root_path + page.name + ('/' if page.name | replace('.', '_') == page.name else '') %}
    {% if nav_level == 0 and page.name == '' %}{% set link = '/' %}{% endif %}
    {% if loop.depth0 == 0 or page.name != '' %}
    <li class="navigation-list-item{{ ' active' if page.name == page_path[nav_level].name}}">
      <a href="{{ link }}" class="navigation-list-link{{ ' active' if page.name == page_path[nav_level].name }}">{{
        page.title }}</a>
      {% if page.name == page_path[nav_level].name and page.pages is defined %}
      <ul class="navigation-list-child-list ">
        {% set root_path = link %}
        {{ loop(page.pages) }}
      </ul>
      {% endif %}
      {% endif %}
      {% endfor %}
  </ul>
</nav>
